.col-md-6.col-md-offset-3
  .align-center
    %i.fa.fa-code.fa-5x.mar-bot20
    %h2.slogan Page poller
    %h3
      Page poller scrapes a web page and notifies the user when the page is changed.
    #btns
      %button.btn.btn-nesto-home
        %i.fa.fa-user
        Register
      %button.btn.btn-danger.btn-nesto-home
        %i.fa.fa-paper-plane
        Guest user
