.col-md-6.col-md-offset-3
  .align-center
    %i.fa.fa-code.fa-5x.mar-bot20
    %h2.slogan Page poller
    %h3
      Page poller scrapes a web page and notifies the user when the page is changed.
    #btns
      
      =button_to "Login with Github", signin_path , :method => :get, :style => 'font-size:50px; line-height:60px' , :class => 'btn btn-nesto-home btn-large'
      %i.fa.fa-github
      
