.col-md-6.col-md-offset-3
  .align-center
    %i.fa.fa-code.fa-5x.mar-bot20
    %h2.slogan Page poller
    %h3
      Page poller scrapes a web page and notifies the user when the page is changed.
    #btns
      %a.btn.btn-nesto-home{href: signin_path}
        %i.fa.fa-github
        Login with Github
      
