%h1  Notifications

%table.table.table-striped
  %tr
    %th Output
    %th Scraper
    %th Time

  - @notifications.each do |notification|
    %tr
      %td= notification.output
      %td= link_to notification.scraper.name, notification.scraper
      %td= distance_of_time_in_words_to_now(notification.created_at)
%br
