/*
#1 = 35A49C
#2 = 7ad0ff
*/
a {
	color: #59B2E5;
}
a:hover {
	color: #7ad0ff;
}

/* menu */
.nav>li>a:hover {
	color: #7ad0ff;
}

.navbar .navbar-nav > .active > a {
	color: #7ad0ff;
}

/* flexslider */
.flex-control-paging li a {
	background: #59B2E5;
}

.flex-direction-nav a:hover{
	background-color:#59B2E5;
}

.testimonial span.author a {
	color: #7ad0ff;
}

/* --- icon box hover --- */
.hi-icon-effect-5 .hi-icon {
	color: #59B2E5;
	box-shadow: 0 0 0 4px #59B2E5;
}
.no-touch .hi-icon-effect-5 .hi-icon:hover {
	background: #59B2E5;
	box-shadow: 0 0 0 8px  #7ad0ff;
}


/* portfolio */
.portfolio-item .portfolio-desc {
	background: #59B2E5;
}

/* btn */
.btn-theme {
  background: #7ad0ff;
}
.btn-theme:hover,.btn-theme:focus,.btn-theme:active{
  background: #59B2E5;
}
.btn-cta,.btn-cta.btn-lg {
  background: #59B2E5;
  border-color: #7ad0ff;
}

.btn-cta:focus,.btn-cta:active{
   border-color: #59B2E5;
}

/* contact */
.validation {
	color:#59B2E5;
}

/* footer */
.social-circle li a {
	background:#59B2E5;
}

a.scrollup{
	background:#59B2E5;
}

section.featured #btns a:first-child {
margin-right: 30px;
}

section.featured #btns a {
margin: 0 auto 30px;
}
.btn-nesto-home, .btn.btn-nesto-home, .panel-title a, .panel-title a.collapsed:hover, .feature-box-style1:hover .feature-box-title, .feature-box-style2:hover .feature-box-title, .member-title, #newsletter-form button, #owl-clients-wrapper .client-name, .contactform #form-message {
color: #2F5F7A;
}
section.featured li {
	color: #fff;
	text-align: left;
	font-size: 18px;
	/* line-height: 1.5em; */
}


.btn-nesto-home, .btn.btn-nesto-home {
z-index: 1;
color: #2F5F7A;
font-size: 20px;
overflow: hidden;
font-weight: 400;
padding: 15px 22px;
position: relative;
letter-spacing: 1px;
background-color: #ffffff;
-webkit-border: 0;
-moz-border: 0;
-o-border: 0;
border: 0;
/* -webkit-border-radius: 6px;
-moz-border-radius: 6px;
-o-border-radius: 6px;
border-radius: 6px;
 */
-webkit-transition: all 0.1s ease-in;
-moz-transition: all 0.1s ease-in;
-ms-transition: all 0.1s ease-in;
-o-transition: all 0.1s ease-in;
transition: all 0.1s ease-in;
/* -webkit-box-shadow: 0 2px 0 rgba(0,0,0,0.3);
-moz-box-shadow: 0 2px 0 rgba(0,0,0,0.3);
-o-box-shadow: 0 2px 0 rgba(0,0,0,0.3);
box-shadow: 0 2px 0 rgba(0,0,0,0.3);
 */
}

.btn-nesto-home:hover {
	background-color: #2F5F7A;
	color: #fff;
}

#btns {
	padding-top: 20px;
}

.navbar {
	line-height: 60px; height: 60px; background-color: rgb(0, 0, 0);
}

.navbar h1 a {
	line-height: 50px;
}

.navbar .nav {
	margin-top: 5px;
}

section#footer .copyright {
color: #B4B4B4;
}

section#footer .copyright a {
color: #7ad0ff;
}

.sectionflash {
	margin: 0;
padding: 80px 0 0px 0;
}

input[type=text],  input[type=email], textarea, input[type=url], #scraper_schedule {
	width: 30%;
	background: rgba(227, 231, 228, 1);
	font-family: 'Open Sans', sans serif;
	border: 0;
	font-size:14px;
	text-align: left;
	vertical-align: middle;
	padding: 2px 10px;
}
#scraper_schedule {
height: 30px;
}
input[type=submit]{
	padding:10px 10px;
	margin-top: 20px;
}
