%h1 Logs

%table.table.table-striped
  %tr
    %th Message
    %th Scraper
    %th Time

  - @logs.each do |log|
    %tr
      %td= log.message
      %td= link_to log.scraper.name, log.scraper
      %td= distance_of_time_in_words_to_now(log.created_at)
      
%br
